@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mohamed Hibo </h1>
    01507138639 & 01208214797 
    <h1></h1> 
    alimohamedalixc@gmail.com 
     
    
</div>
